:root {
	
    --color-background    : #f0f2f0;
    --color-light-yellow  : #f7e739;
    --color-light-blue    : #78b6ed;
    --color-dark-blue     : #3773a8;
    --color-text          : #202020;
    --color-text-contrast : #f9f6e3;
    --color-text-highlight: #ff6600;
}


body, input {
    background-color: var(--color-background);
    color           : var(--color-text);
    font-family     : "Quicksand", sans-serif;
    font-size       : 20px;
}


